@import "./breakpoints";
@import "./variables";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  font-family: $font;
  background-color: $white;
}
a {
  text-decoration: none;
}
.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}
.span {
  font-weight: 300;
  font-size: 2.2rem;
  @media (min-width: $small) {
    font-size: 2.6rem;
  }
}
// a {
//   text-decoration: none;
//   co
// }
.header {
  background-color: $white;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  &-items--container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .toggle {
    cursor: pointer;
    border: none;
    background: none;
    padding: 15px;
    margin: 0 15px;
    text-transform: uppercase;
    color: $black;
    font-family: $font;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
  }
  .progress-bar {
    width: 0px;
    height: 3px;
    background-color: $black;
  }
}
.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  &-links {
    text-align: center;
    &--item {
      font-size: 6.2rem;
      -webkit-text-stroke: 2px $black;
      color: transparent;
      @media (min-width: $small) {
        font-size: 10rem;
      }
    }
  }
  &-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    padding: 15px;
    margin: 0 15px;
    text-transform: uppercase;
    color: $black;
    font-family: $font;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
  }
}
.overflow-hidden {
  overflow: hidden;
}
// GUIDING LINES
.line {
  position: relative;
  width: 1px;
  background-color: $black;
  &-2 {
    grid-row: 11/13;
    grid-column: 9;
  }
  &-3 {
    grid-row: 1/2;
    grid-column: 9;
  }
  &-4 {
    grid-row: 7/13;
    grid-column: 4;
  }
  &-5 {
    grid-row: 1/2;
    grid-column: 4;
  }
  &-6 {
    grid-row: 7/13;
    grid-column: 9;
  }
  &-7 {
    grid-row: 7/13;
    grid-column: 7;
  }
  &-8 {
    grid-row: 1/2;
    grid-column: 7;
  }
}
.scroll {
  font-weight: 300;
  position: absolute;
  top: -40px;
  left: -20px;
}
.hide {
  display: none;
}
.title {
  &-container {
    margin: 10px 0;
    line-height: 6rem;
    font-size: 6.2rem;
    // -webkit-text-stroke: 2px $black;
    // color: transparent;
    color: $black;
    display: flex;
    flex-direction: column;
    @media (min-width: $small) {
      font-size: 8rem;
      line-height: 7rem;
      margin: 20px 0;
    }
    &--1 {
      grid-row: 3;
      grid-column: 2/12;
      @media (min-width: $small) {
        grid-column: 3/6;
      }
    }
    &--2 {
      grid-row: 3;
      grid-column: 2/12;
      @media (min-width: $small) {
        grid-column: 8/13;
      }
    }
    &--3 {
      font-size: 7rem;
      grid-row: 6;
      grid-column: 1/13;
      text-align: center;
      @media (min-width: $small) {
        font-size: 12rem;
        line-height: 12rem;
      }
    }
    &--4 {
      text-align: center;
      line-height: 9rem;
      font-size: 7rem;
      grid-row: 3;
      grid-column: 1/13;
      @media (min-width: $small) {
        font-size: 10rem;
        line-height: 12rem;
      }
    }
    &--footer {
      -webkit-text-stroke: 2px $white;
    }
  }
}
.footer {
  padding-top: 50px;
  background-color: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  @media (min-width: $small) {
    padding: 50px;
  }
  &-line {
    background-color: $white;
  }
  &-links {
    max-width: 1440px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .item-text {
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 300;
      p {
        margin: 2rem;
      }
    }
    .item-title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 100%;
      font-size: 3rem;
      text-transform: uppercase;
    }
    &--item {
      transition: background-color 0.8s;
      color: $white;
      display: flex;
      cursor: pointer;
      &:hover {
        color: $black;
        background-color: $white;
      }
    }
    &--item1 {
      grid-column: 1/13;
      grid-row: 1/5;
      border-top: 1px solid $white;
      @media (min-width: $small) {
        grid-row: 1/13;
        grid-column: 1/5;
        border-right: 1px solid $white;
      }
    }
    &--item2 {
      grid-column: 1/13;
      grid-row: 5/9;
      border-top: 1px solid $white;
      @media (min-width: $small) {
        grid-row: 1/13;
        grid-column: 5/9;
        border-right: 1px solid $white;
      }
    }
    &--item3 {
      grid-column: 1/13;
      grid-row: 9/13;
      border-top: 1px solid $white;
      @media (min-width: $small) {
        grid-row: 1/13;
        grid-column: 9/13;
      }
    }
  }
}
.text-container {
  &--1 {
    grid-row: 4;
    grid-column: 2/12;
    @media (min-width: $small) {
      grid-column: 3/7;
    }
  }
  &--2 {
    grid-row: 4;
    grid-column: 2/12;
    @media (min-width: $small) {
      grid-column: 8/12;
    }
  }
}
